@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);

/*  Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0;}
body { width:100%; min-width:1400px; height:12000px; font-family:Orbitron; font-size:12px; letter-spacing:2px;}

/*배경 이미지*/
.bg { position:fixed; width:100%; height:100%; top:0px; left:0px;  background:url(bg.jpg) no-repeat center top; background-size:cover;}

/*로고*/
h1 { position:fixed; top:70px; left:90px; z-index:2;}
h1 img { width:180px; }

/*주 메뉴*/


/*sns 모음*/
.sns { position:fixed; top:50px; right:50px; z-index:2; }
.sns li { float:left; margin-left:30px;}
.sns li .fa { font-size:18px; color:#fff; transform:scale(1); opacity:0.5; transition:all 0.5s;}
.sns li .fa:hover { transform:scale(1.5); opacity:1;}

/*스크롤 네비게이션*/
.scrollNavi { position:fixed; left:100px; top:300px; z-index:2;}
.scrollNavi li { position:relative; width:150px; height:35px; margin-bottom:20px; font-size:12px; color:#fff; text-align:center; perspective:400px; cursor:pointer;}
.scrollNavi li em { position:absolute; top:8px; left:20px; font-size:14px; font-weight:bold; color:#fff; text-shadow:1px 1px 1px #000;}
.scrollNavi li span { display:block; width:3%; height:100%; position:absolute; transform:skewX(-30deg); box-shadow:1px 1px 1px #000;}
.scrollNavi li.on span { width:100%;}
.scrollNavi li:nth-child(1) span { background:#ff0f51;}
.scrollNavi li:nth-child(2) span { background:#fffb02;}
.scrollNavi li:nth-child(3) span { background:#b57de4;}
.scrollNavi li:nth-child(4) span { background:#7cf923;}
.scrollNavi li:nth-child(5) span { background:#3dbdfa;}



/*박스 그룹 레이아웃*/
section { width:1200px; height:700px; position:fixed; left:50%; margin-left:-600px; top:50%; margin-top:-350px; perspective:2300px; z-index:1; }
section>article { width:1200px; height:700px; position:absolute; top:0px; left:0px; opacity:0.5; z-index:8;}
section>article.on { opacity:1; z-index:9;}
section>article:nth-child(1) { transform:translateZ(0px);}
section>article:nth-child(2) { transform:translateZ(-5000px);}
section>article:nth-child(3) { transform:translateZ(-10000px);}


/*박스 폰트 및 이미지 공통속성*/
section>article>p { position:absolute; width:450px; padding:30px 60px; color:#fff; opacity:1;}
section>article>p>span { font-family:orbitron; font-size:60px; letter-spacing:0px; line-height:1.5; }
section>article>a>img { position:absolute;}

/*첫 번째 박스 콘텐츠*/
section>article:nth-child(1) p { bottom:100px; right:-100px;}
section>article:nth-child(1) p span { color:#ff0f51;}
.obj13 { bottom:20px; left:20%; height: 540px;}
section>article:nth-child(1) em {font-size: 25px;}
/*두 번째 박스 콘텐츠*/
section>article:nth-child(2) p { bottom:200px; left:12%;}
section>article:nth-child(2) p span { color:#fffb02;}
.obj21 { bottom:-420px; right:-710px;}
.obj22 { height: 400px; bottom:10%; right:5%;}
section>article:nth-child(2) em {font-size: 25px;}
/*세 번째 박스 콘텐츠*/
section>article:nth-child(3) p { bottom:300px; right:-100px;}
section>article:nth-child(3) p span { color:#b57de4;}
.obj31 { bottom:15%; right:15%;}
.obj32 {height: 530px; bottom:10%; left:13%;}
section>article:nth-child(3) em {font-size: 25px;}

/* 테스트용 */

/* nav */
nav { width:100%; height:50px; position:fixed; z-index:3; top:10%; margin-top:-25px; left: 25%; repeat 0 0; color: white; }

/* nav 1depth */
nav>ul  { width:1200px; height:50px; margin:0 auto; }
nav>ul>li { color: white; width:200px; height:50px; float:left; text-align:center; box-sizing:border-box; position:relative; perspective:700px;}
nav>ul>li>a { display:block; width:200px; height:50px; font: 12px/4 orbitron; color:#aaa; transition:all 0.4s;}
nav>ul>li:hover>a { transform:translateY(-20px); opacity:0;}

/* nav 2depth*/
nav>ul>li>div { position:absolute; left:0px; top:-50px; width:200px; height:300px; repeat 0 0;
   border:1px solid #000; box-sizing:border-box; opacity:0; transition:all 0.5s; padding:10px; background-color: black; }
nav>ul>li:hover div { opacity:0.9; top:-100px; }
nav>ul>li>div>h2 { position:absolute; left:0px; top:100px; width:100%; height:50px; text-align:center;
  font:bold 12px/3.5 orbitron; color:#fff;}
nav>ul>li>div>ul { width:100%; position:absolute; bottom:0px; left:0px; }
nav>ul>li>div>ul>li>a { display:block; width:100%; height:37px; border-top:1px solid #111; color:#ddd;
  text-align:center; font:15px/2.8 orbitron; color:#888; transition:all 0.4s; }
nav>ul>li>div>ul>li>a:hover { background:#000; color:#fff;}



@media screen and (max-width: 479px){

header h1 { top: 10px; width: 140px; margin-left: 0px auto; }
h1 { position:fixed; top:30px; left:110px; z-index:2;}
h1 img { width:180px; }
#gnb { width: 250px; top:140px; right: 50%; margin-right: -125px; }
#gnb a {width: 100%; background: #000; box-sizing: border-box; margin: 8px 0px; border-radius: 10px; opacity: 0.5; color: #fff;	}
#gnb a:hover {opacity: 1; transform: scale(1.1);}
article {display: none;}
#gnb1 {display: none;}
#gnb {display: none;}

nav ul {width: 250px; top:140px; right: 50%; margin-right: -125px;}
nav a {width: 100%; background: #000; box-sizing: border-box; margin: 8px 0px; border-radius: 10px; opacity: 0.5; color: #fff;}













}
